@page "/"

<PageTitle>Moogle!</PageTitle>

<div>
<img src="logo.png" alt="Logo">
</div>

<input @bind="query" placeholder="Search with Moogle" @onkeyup="@Enter" >
<button type="default" @onclick="RunQuery">Search 🔍</button>


<div class="box">
@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>Did you mean <strong>@result.Suggestion</strong>?</p>
    </div>
}
@if (!string.IsNullOrEmpty(query)){
    <div class="time">
        @if (result.items.Length != 0){
            <p>The search took <strong>@Moogle.time.TotalSeconds</strong> seconds</p>     
        }
    </div>
    }
</div>

<ul class="results">
@if (result.items.Length == 0 && !string.IsNullOrEmpty(query)){
    <p><strong>Sorry, 0 results were found</strong></p>
}
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title">@item.Title</p>
            <p>... @item.Snippet ...</p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void Enter(KeyboardEventArgs Event)
    {
        if (Event.Code == "Enter") RunQuery();
    }

    private void RunQuery() {
        result = Moogle.QueryProcess(query);
    }
}
